body { padding: 10px 0 0 0;	}

.header	{	margin-bottom: 20px; }
.header .span6 { text-align: right; }

.sidebar-nav a { margin-bottom: 10px; }

.main-wrapper { -webkit-border-radius: 10px; -webkit-box-shadow: 0 0 115px -35px #000; padding: 50px 35px; }
.form-search { text-align: right; }

.table td { vertical-align: middle; }

.op-buttons { display: block; margin: 10px 0 0 0; text-align: right;}

.modal form { margin: 0;}
.modal .close { background: url('../img/icon-close3.png') no-repeat scroll 0 0 transparent; height: 50px; opacity: .95; position: absolute; right: -14px; top: -17px; width: 50px; z-index: 2; }
.modal .close:hover { opacity: 1; }
.modal .modal-body { max-height: none; padding: 0; }
.modal .modal-body .wrapper { max-height: 350px; overflow-y: auto; padding: 15px; }
.modal .modal-body .ajax-wrapper { padding: 50px; text-align: center; }

.modal .modal-body .wrapper.show { overflow: hidden; }
.modal .modal-body .switch { vertical-align: middle; }

.show .left{ float: left; }
.show .left.preview{ width: 250px; }
.show .left.info {height: 250px;margin: 0 0 0 20px;position: relative;width: 245px;}
.show .info p { max-height: 140px; overflow: hidden; }
.show .bottom { bottom: 0; position: absolute; }
.show .bottom h5 { margin-bottom: 40px; }
.show img { width: 250px; }


.admin-category { width: 450px; }
.admin-category .form-horizontal .control-label { width: 125px; }
.admin-category .form-horizontal .controls { margin-left: 140px; }


.table .thumbnail { height: 35px; margin: auto; padding: 0; width: 35px; }

.form-horizontal textarea { height: 50px; }

#dataTable.table tr.unpublished td { background-color: #CCCCCC; }
#dataTable.table tr.unpublished *{ color: #999999; }